---
layout: default
title: "Kathryn Weir"
heading: "Kathryn Weir"
---

{% include blocks/curating-as-open-process.html %} {% include
blocks/the-unicorn-cartoons.html %} {% include
blocks/lagos-biennial-et-si-carthage-green-snake.html %} {% include
blocks/jimmie-durham-humanity.html %} {% include blocks/rethinking-nature.html
%}
<!-- To add more pics to the slideshow, add +1200px width to .slide-images for every picture and change the slide_animation percentage values around so you have -1200 per image. pic nr 4 will be placed at -1200px and needs 4800 slide-images width and 5 will be placed at -2400px and needs 6000 slide-images width and so on!  -->

{% include blocks/beauty-terror-ferdinandea-utopia-dystopia.html %} {% include
blocks/cosmopolis-2-rethinking-the-human.html %} {% include
blocks/cosmopolis-1-5.html %} {% include
blocks/cosmopolis-1-collective-intelligence.html %} {% include
blocks/qagoma-woods-sublime-tracey-moffatt.html %} {% include
blocks/twenty-first-century-art-first-decade.html %}
<div class="content-spacer content-spacer--large"></div>
