<div class="grid-three">
    <div class="grid-item grid-item--text">
        {% include image.html src="Bellezza-e-Terrore.jpg" %}
        <div class="content-spacer"></div>
        <h2 class="project-title">
            <a class="link" href="BeautyAndTerror.html"
                >Beauty and Terror: intersections of colonialism and fascism in
                Naples</a
            >
        </h2>
        <div class="content-spacer"></div>
        Madre museum
        <div class="content-spacer"></div>
        24.06 - 26.09.2022
        <div class="content-spacer"></div>
        The exhibition
        <i> Beauty and Terror: sites of colonialism and fascism </i> at the
        Madre museum of contemporary art in 2022 and the subsequent publication
        of the same title took the city of Naples and the Italian context in the
        years around 1940 as points of departure in order to investigate,
        through the eyes of contemporary artists and critical thinkers, the
        history and continuing legacy of the interconnections between
        colonialism and fascism in Italy.<a
            class="read-more"
            href="BeautyAndTerror.html"
        >
            [read more]</a
        >
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1PgN7wD3VqOCSXP-Lybj_QPdITydJAYTb/view?usp=sharing"
        >
            PUBLICATION</a
        ><br />
        <a
            class="link action-link action-link--small"
            href="https://www.madrenapoli.it/en/exhibition/beauty-and-terror-sites-of-colonialism-and-fascism/"
        >
            MUSEUM SITE</a
        >
    </div>

    <div class="grid-item grid-item--text">
        {% include image.html src="GS1.jpg" %}
        <div class="content-spacer"></div>
        <h2 class="project-title">
            <a class="link" href="https://www.madrenapoli.it/en/exhibition/clement-cogitore-ferdinandea/"
                >Clément Cogitore Ferdinandea</a
            >
        </h2>
        <div class="content-spacer"></div>
        Madre museum
        <div class="content-spacer"></div>
        24.06 - 12.09.2022
        <div class="content-spacer"></div>
        Clément Cogitore’s new body of work, Ferdinandea, speculates, through
        16mm film, video, photographs and historical documents, on the rise,
        fall and possible reemergence of an ephemeral volcanic island. Today,
        dormant eight meters below the waves, Ferdinandea could at any time
        re-emerge as a result of further seismic activity, and so spark new
        geopolitical manoeuvres. Cogitore orchestrates premonition, observation,
        metaphorical insight and fiction to consider what this tale may tell us
        of our current plight and our possible futures.
        <a
            class="read-more"
            href="https://www.madrenapoli.it/en/exhibition/clement-cogitore-ferdinandea/"
        >
            [read more]</a
        >
        <div class="content-spacer"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1SA-b3NFh0arzO25a6_wp93hP_6QWU7A5/view?usp=sharing"
        >
            PUBLICATION</a
        >
        <br />
        <a
            class="link action-link action-link--small"
            href="https://www.madrenapoli.it/en/exhibition/clement-cogitore-ferdinandea/"
        >
            MUSEUM SITE</a
        >
    </div>

    <div class="grid-item grid-item--text">
        {% include image.html src="C2-2.jpg" %}
        <div class="content-spacer"></div>
        <h2 class="project-title">
            <a class="link" href="https://cosmopolis.centrepompidou.fr/home"
                >Utopia Dystopia</a
            >
        </h2>
        <div class="content-spacer"></div>
        Madre musuem
        <div class="content-spacer"></div>
        23.10.2019 - 23.12.2019
        <div class="content-spacer"></div>
        Artists and critical thinkers address questions of technological
        diversity, scale and of social value, reaffirming other modes of
        existence, geographic articulations and cosmologies.
        <a
            class="read-more"
            href="https://www.madrenapoli.it/en/exhibition/utopia-dystopia-eng/"
        >
            [read more]</a
        >
        <div class="content-spacer"></div>
        <a
            class="link action-link action-link--large"
            href="https://drive.google.com/file/d/1yV7zSRbvT2YuuRexx1lMyenByI8ef851/view?usp=sharing"
        >
            Publication
        </a>
    </div>
</div>
