<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="claire_tabouret_3.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="claire_tabouret_2.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="claire_tabouret_1.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://www.labiennale.org/en/art/2022/claire-tabouret-i-am-spacious-singing-flesh"
                >Claire Tabouret – I am spacious, singing flesh</a
            >
        </h2>
        <div class="content-spacer"></div>
        Palazzo Cavanis, Venice Biennale
        <div class="content-spacer"></div>
        23.04.2022 — 27.11.2022
        <div class="content-spacer"></div>
        The canvas, like a mirror, throws back the question of how subjects are
        shaped in relation to the interior worlds and associations of the
        artist. Consistently across different bodies of work, Tabouret questions
        the structures and fluidities that exist within subjectivity and
        constructed identities, underlining multiple levels of transformation:
        of self, other, collective identities, of attempts to understand these
        in relation to gender and cultural backgrounds.
        <a
            class="read-more"
            href="https://www.lespressesdureel.com/EN/ouvrage.php?id=10208&menu=0"
        >
            [read more]</a
        >
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1EdyT_cP776TJpyJLnLQMHiwDdPurnJTR/view?usp=sharing"
        >
            PUBLICATION</a
        >
        <br />
        <a
            class="link action-link action-link--small"
            href="https://www.labiennale.org/en/art/2022/claire-tabouret-i-am-spacious-singing-flesh"
        >
            MUSEUM SITE</a
        >
    </div>
</div>
