<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="C1.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="C2.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="C3.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://www.centrepompidou.fr/en/program/calendar/event/cyEXyLg"
                >Cosmopolis #1 Collective Intelligence</a
            >
        </h2>
        <div class="content-spacer"></div>
        Centre Pompidou
        <div class="content-spacer"></div>
        18.10.2017 - 18.12.2017
        <div class="content-spacer"></div>
        ‘Cosmopolis #1′ develops a layered platform of creation and transmission
        of knowledge that incorporates long-term cultural experiments, social
        actions, subjective imaginaries, and transcultural utopias that surpass
        the exhibition format. Through the participation of international artist
        and activist collectives, the exhibition becomes a platform through
        which the collectives’ urban and social programs unfold an agency and
        create interventions—intellectually and physically—in the social space.
        <a
            class="read-more"
            href="https://www.centrepompidou.fr/en/program/calendar/event/cyEXyLg"
        >
            [read more]</a
        >
        <div class="content-spacer"></div>
        <a
            class="link action-link action-link--large"
            href="https://drive.google.com/file/d/1rZWeCw_Js-6-PaxDAZiSTuEDtoZgT3VE/view?usp=drive_link"
        >
            Publication
        </a>
    </div>
</div>
