<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="KaranShresthavalvala.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="HerveVeroneseCentrePompidou.jpg"
                    %}
                </div>
                <div class="img-container">
                    {% include image.html src="MuseumSystemWater.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://artandaustralia.com/61_1/p360/curating-as-open-process-conversations-between-political-ecology-and-artistic-research-"
                >Curating As Open Process: Conversations Between Political
                Ecology And Artistic Research
            </a>
        </h2>
        <div class="content-spacer"></div>
        Article
        <div class="content-spacer"></div>
        2026
        <div class="content-spacer"></div>
        A reflection on curating as an open, relational process, tracing
        conversations between political ecology and artistic research through
        the <em>Cosmopolis</em> platform and related projects. The article
        considers how artists working across ecological, Indigenous, feminist
        and community-based practices challenge dominant ideas of nature,
        knowledge and the human.
        <a class="read-more" href="CuratingAsOpenProcess.html"> [read more]</a>
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://artandaustralia.com/61_1/p360/curating-as-open-process-conversations-between-political-ecology-and-artistic-research-"
        >
            PUBLICATION</a
        >
    </div>
</div>
