<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="JD2.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="JD1.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="JD3.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://www.madrenapoli.it/en/exhibition/jimmie-durham-humanity-is-not-a-completed-project/"
                >Jimmie Durham: humanity is not a completed project</a
            >
        </h2>
        <div class="content-spacer"></div>
        MADRE Museum
        <div class="content-spacer"></div>
        23.12.2022 — 8.5.2023
        <div class="content-spacer"></div>
        This first retrospective exhibition after his death in late 2021
        features over 150 works, some never previously exhibited. It creates
        links across time periods within thematic sequences, combining elements
        of chronology with a narrative approach and including references to the
        artist’s experiments with spatial strategies in key historical
        exhibitions.
        <a
            class="read-more"
            href="https://www.madrenapoli.it/en/exhibition/jimmie-durham-humanity-is-not-a-completed-project/"
        >
            [read more]</a
        >
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1K3DbEN2h6jCY9TuHDHOZrEl09bSMZjTq/view?usp=sharing"
        >
            PUBLICATION</a
        >
        <br />
        <a
            class="link action-link action-link--small"
            href="https://www.madrenapoli.it/en/exhibition/jimmie-durham-humanity-is-not-a-completed-project/"
        >
            MUSEUM SITE</a
        >
    </div>
</div>
