<div class="grid-three">
    <div class="grid-item grid-item--text">
        {% include image.html src="lagosbio4.jpg" %}
        <div class="content-spacer"></div>
        <h2 class="project-title">
            <a class="link" href="https://lagos-biennial.org/lb-2024/"
                >Lagos Biennial 2024: REFUGE</a
            >
        </h2>
        <div class="content-spacer"></div>
        Tafawa Balewa Square
        <div class="content-spacer"></div>
        3.2.2024 - 10.2.2024
        <div class="content-spacer"></div>
        The Lagos Biennial brings together artists who explore how to create an
        operative notion of refuge that can offer alternate paths towards
        constructing renewable communities and work towards ecological justice
        in this historical moment of systemic crisis.
        <a class="read-more" href="https://lagos-biennial.org/"> [read more]</a>
        <div class="content-spacer"></div>
        <a
            class="link action-link action-link--small"
            href="https://lagos-biennial.org/lb-2024/"
        >
            PROGRAMME</a
        >
    </div>

    <div class="grid-item grid-item--text">
        {% include image.html src="nidhal-chamekh-et-si-carthage.jpg" %}
        <div class="content-spacer"></div>
        <h2 class="project-title">
            <a class="link" href="AndWhatIfCarthage.html">Et si Carthage?</a>
        </h2>
        <div class="content-spacer"></div>
        Selma Feriani Gallery, La Goulette
        <div class="content-spacer"></div>
        25.1.2024 - 24.3.2024
        <div class="content-spacer"></div>
        Taking its title from philosopher Édouard Glissant’s question, ‘What If
        Carthage Hadn’t Been Destroyed?’ – Nidhal Chamekh’s, ‘Et si Carthage’,
        is inspired by the ancient city whose ruins are a ten-minute drive from
        Selma Feriani’s gallery space in downtown Tunis. By speculating on what
        might have happened if Carthage hadn’t been razed, Glissant offers a
        thought experiment in which the Punic people acted as a counterpoint to
        an empire that would go on to form the basis of Western civilization.
        <a class="read-more" href="AndWhatIfCarthage.html"> [read more]</a>
        <div class="content-spacer"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/18Az73o5A5Iz05BBF4_1FvCIqz3Q6KeMQ/view?usp=sharing"
        >
            PUBLICATION
        </a>
        <br />
        <a
            class="link action-link action-link--small"
            href="https://www.selmaferiani.com/press/13-nidhal-chamekh-reanimates-the-carthaginian-empire-at-selma-feriani-tunis-the-artist-uses-the/"
        >
            PRESS
        </a>
    </div>

    <div class="grid-item grid-item--text">
        {% include image.html src="GS1.jpg" %}
        <div class="content-spacer"></div>
        <h2 class="project-title">
            <a
                class="link"
                href="https://www.taikwun.hk/en/programme/detail/green-snake-women-centred-ecologies/1319"
                >Green Snake: Women-Centred Ecologies</a
            >
        </h2>
        <div class="content-spacer"></div>
        Tai Kwun Contemporary
        <div class="content-spacer"></div>
        25.3.2024 - 1.4.2024
        <div class="content-spacer"></div>
        Green Snake: women-centred ecologies focuses on the connections between
        art and the larger themes of ecology in the context of rising
        temperatures and extreme weather events. Gathering more than 30 artists
        and collectives from 20 countries, the exhibition presents over 60 works
        that draw on mythologies and world views with women at their heart to
        explore possibilities for other ecological relationships and imagine
        other futures.
        <a
            class="read-more"
            href="https://www.taikwun.hk/en/programme/detail/green-snake-women-centred-ecologies/1319"
        >
            [read more]</a
        >
        <div class="content-spacer"></div>
        <a
            class="link action-link action-link--small"
            href="https://www.taikwun.hk/assets/uploads/programme_files/a1WCoGnw3h.pdf"
        >
            PUBLICATION</a
        >
        <br />
        <a
            class="link action-link action-link--small"
            href="https://www.taikwun.hk/en/programme/detail/green-snake-women-centred-ecologies/1319"
        >
            MUSEUM SITE</a
        >
    </div>
</div>
