<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="RN1.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="RN2.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="RN3.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a class="link" href="RethinkingNature.html">Rethinking Nature</a>
        </h2>
        <div class="content-spacer"></div>
        MADRE Museum
        <div class="content-spacer"></div>
        16.12.2021 - 5.4.2022
        <div class="content-spacer"></div>
        An exhibition, book and series of programmes focussing on contemporary
        artistic research-based practices and critical thinking that are
        contributing to cultural and political processes centring on political
        ecology in different contexts in order to rethink and transform
        conceptions of nature bequeathed by Europe’s Enlightenment paradigms in
        parallel to its imperial expansion.
        <a class="read-more" href="RethinkingNature.html"> [read more]</a>
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1K3DbEN2h6jCY9TuHDHOZrEl09bSMZjTq/view?usp=sharing"
        >
            PUBLICATION</a
        >
        <br />
        <a
            class="link action-link action-link--small"
            href="https://www.madrenapoli.it/en/exhibition/rethinking-nature/"
        >
            MUSEUM SITE</a
        >
    </div>
</div>
