<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="TUC1.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="TUC2.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="TUC3.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://www.samkeogh.net/the-unicorn-is-killed-and-brought-to-the-castle-cartoon"
                >SAM KEOGH: THE UNICORN CARTOONS</a
            >
        </h2>
        <div class="content-spacer"></div>
        Exhibition tour
        <div class="content-spacer"></div>
        2027 - 2028
        <div class="content-spacer"></div>
        Sam Keogh: The Unicorn Cartoons will feature seven large-scale
        sculptural collages, each paired with a performance by the artist. These
        works take the famous 'Unicorn tapestries' as a starting point to deploy
        a critical analysis of the dynamics of gender, race, and class both in
        the pre-modern tapestries and in contemporary mass-media genre fantasy.
        <a class="read-more" href="TheUnicornCartoons.html"> [read more]</a>
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1DL00lWbPAizBYwcxQDttML2tfpPN7Pcb/view?usp=sharing"
        >
            PUBLICATION</a
        >
    </div>
</div>
