<div class="grid-two">
    <div class="grid-item">
        <div class="slider-frame">
            <div class="slide-images">
                <div class="img-container">
                    {% include image.html src="GOMA1.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="Yayoi Kusama.jpg" %}
                </div>
                <div class="img-container">
                    {% include image.html src="RN3.jpg" %}
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--text">
        <h2 class="project-title">
            <a
                class="link"
                href="https://www.qagoma.qld.gov.au/exhibition/21st-century"
                >21st century: art in the first decade
            </a>
        </h2>
        <div class="content-spacer"></div>
        Queensland Art Gallery | Gallery of Modern Art
        <div class="content-spacer"></div>
        18.12.2010 - 26.4.2011
        <div class="content-spacer"></div>
        Marking the end of the first decade of this millennium, '21st Century:
        art in the first decade', occupies the entire Gallery of Modern Art and
        focuses exclusively on works created between 2000 and 2010. It includes
        more than 200 works by 140 artists and collaborative groups from more
        than 40 countries.
        <a
            class="read-more"
            href="https://statements.qld.gov.au/statements/64044"
        >
            [read more]</a
        >
        <div class="content-spacer"></div>
        <div class="content-spacer content-spacer--large"></div>
        <a
            class="link action-link action-link--small"
            href="https://drive.google.com/file/d/1Mv9VGz3xNfa0plI_bgjrqMXq6YTNyCMw/view?usp=sharing"
        >
            PUBLICATION</a
        >
    </div>
</div>
